<div class="box tabular">
  <h3><%= l(:label_ref_rule_settings) %></h3>
  <p><%= f.select :ref_type, RefRule.ref_types %></p>
  <% if @repository.nil? %>
    <p><%= f.select :rule_type, [[l(:label_inherit_global_default, :rule_type => Setting.plugin_redmine_advanced_git_permissions[:default_branch_rule]),:inherit_global],[l(:label_public_ref),:public_ref],[l(:label_protected_ref), :protected_ref],[l(:label_illegal_ref), :illegal_ref]] %></p>
  <% else %>
    <p><%= f.select :rule_type, [[l(:label_inherit_global_default, :rule_type => Setting.plugin_redmine_advanced_git_permissions[:default_branch_rule]),:inherit_global],[l(:label_public_ref),:public_ref],[l(:label_protected_ref), :protected_ref],[l(:label_private_ref), :private_ref],[l(:label_illegal_ref), :illegal_ref]] %></p>
  <% end %>
  <p><%= f.text_field :expression %></p>
  <p><%= f.check_box :regex %></p>
  <%= f.hidden_field :global, :value => @repository.nil? %>
  <h3><%= l(:field_test_expression) %></h3>
  <%= text_field_tag :test_expression %>
  <div id="test_expression_matches"></div> 
</div>

<%= render :partial => 'test_expression' %>
