<% if (@repository.nil? && User.current().admin?) ||  (User.current().allowed_to?(:manage_ref_rules, @repository.project)) %>
  <div class="contextual">
    <% unless @repository.nil? %>
      <div id="ref-rules-import-options" style="display:none;">
        <h3 class="title"><%= l(:label_ref_rules_import_options) %></h3>
        <%= form_tag :action => :import do %>
          <label for="source"><%= l(:label_select_repository_to_import) %></label>
          <%= select_tag l(:label_repository_plural), options_for_repository_input(), { :name => 'source'} %>
          
          <p class="buttons">
            <%= submit_tag l(:button_import), :name => nil, :onclick => "hideModal(this);" %>
            <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>
          </p>
        <% end %>
      </div>
    
      <%= link_to l(:label_import_ref_rules), url_for(:controller => :ref_rules, :action => :import), { :class => 'icon icon-duplicate', :onclick => "showModal('ref-rules-import-options', '330px'); return false;" } %>
    <% end %>
    <%= link_to l(:label_ref_rule_new), {:controller => 'ref_rules', :action => 'new', :repository_id => @repository}, :class => 'icon icon-add' %>
  </div>
<% end %>

<% if @repository.nil? %>
  <h3><%= l :label_git_global_ref_rule %></h3>
<% else %>
  <h3>
    <%= link_to(@repository.identifier.present? ? h(@repository.identifier) : 'root', 
      :controller => :repositories,
      :action => 'show', :id => @project,
      :repository_id => @repository.identifier_param,
      :path => nil, :rev => @rev) %>
    
  &#187; 
      <%= l :label_ref_rules_plural %>
  </h3>
  
  <% if User.current().allowed_to? :manage_ref_rules, @repository.project %>
    <%= form_tag({:controller => :ref_rules, :action => :update_repository_settings}, :method => :put) do %>
      <%= label_tag l(:field_inherit_global_rules) %>
      <%= check_box_tag :inherit_global_rules, true, @repository.inherit_global_rules  %>
      <p>
        <%= content_tag(:label, l(:label_default_branch_rule)) %>
        <%= select_tag :default_branch_rule, options_for_select([[l(:label_inherit_global_default, :rule_type => Setting.plugin_redmine_advanced_git_permissions[:default_branch_rule]),:inherit_global],[l(:label_public_ref),:public_ref],[l(:label_protected_ref), :protected_ref],[l(:label_illegal_ref), :illegal_ref]], @repository.default_branch_rule) %>
      </p>
      <p>
        <%= content_tag(:label, l(:label_default_tag_rule)) %>
        <%= select_tag :default_tag_rule, options_for_select([[l(:label_inherit_global_default, :rule_type => Setting.plugin_redmine_advanced_git_permissions[:default_tag_rule]),:inherit_global],[l(:label_public_ref),:public_ref],[l(:label_protected_ref), :protected_ref],[l(:label_illegal_ref), :illegal_ref]], @repository.default_tag_rule) %>
      </p>
      <p>
        <%= submit_tag l :button_submit  %>
      </p>
    <% end %>
    
  <% else %>
    <p><strong>
    <%= l(:label_default_branch_rule) + ": "%>
    <% if @repository.default_branch_rule.nil? %>
      <%= Setting.plugin_redmine_advanced_git_permissions[:default_branch_rule] %>     
    <% else %>
      <%= @repository.default_branch_rule %>
    <% end %>
    </strong></p>
    <p><strong>
    <%= l(:label_default_tag_rule) %>
    <% if @repository.default_tag_rule.nil? %>
      <%= Setting.plugin_redmine_advanced_git_permissions[:default_tag_rule] %>     
    <% else %>
      <%= @repository.default_tag_rule %>
    <% end %>
    </strong></p>
  <% end %>
  
<% end %>

<% if @ref_rules.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <table class="list">
    <thead><tr>
    <th><%=l(:field_ref_type)%></th>
    <th><%=l(:field_rule_type)%></th>
    <th><%=l(:field_expression)%></th>
    <th><%=l(:field_regex)%></th>
    <% if @repository.nil? %>
      <th></th>
    <% else %>
      <th><%=l(:label_member_plural)%></th>
    <% end %>
     
    <th></th>
    <th></th>
    </tr></thead>
    <tbody>
  <% @ref_rules.each do |rule| %>
    <tr class="<%= cycle 'odd', 'even' %>">
      <td align="center"><%= rule.ref_type %></td>
      <td align="center"><%= rule.rule_type %></td>
      <td align="center"><%= rule.expression %></td>
      <td align="center"><%= rule.regex %></td>
      <% if @repository.nil? or rule.global or rule.rule_type != :private_ref.to_s %>
          <td></td>
      <% else %>
        <% if User.current().allowed_to?(:manage_ref_rules, @repository.project) %>
          <td align="center"><%= link_to( rule.ref_members.size, {:controller => :ref_rules, :action => :members, :id => rule.id} ) %></td>
        <% else %>
          <td align="center"><%= rule.ref_members.size %></td>
        <% end %>
      <% end %>
      <% if !@repository.nil? and (rule.global or !User.current().allowed_to?(:manage_ref_rules, @repository.project)) %>
        <td></td>
        <td></td>
      <% else %>
        <td class="buttons"><%= link_to l(:button_edit), { :controller => 'ref_rules', :action => 'edit', :id => rule }, {:class => 'icon icon-edit'} %></td>
        <td class="buttons"><%= delete_link rule %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% end %>

